<a href="https://colab.research.google.com/github/HKubinhetz/CollegeMajorDataExploration/blob/main/College_Major_Data_Exploration.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [4]:
# This is a Data Exploration Exercise using Pandas and Google Colab!
# Fetching data
import pandas as pd
data = pd.read_csv("/content/drive/MyDrive/PythonDS/salaries_by_college_major.csv")

In [5]:
# Understanding the data by reading first 5 rows.
data.head()

,Undergraduate Major,Starting Median Salary,Mid-Career Median Salary,Mid-Career 10th Percentile Salary,Mid-Career 90th Percentile Salary,Group
0,Accounting,46000.0,77100.0,42200.0,152000.0,Business
1,Aerospace Engineering,57700.0,101000.0,64300.0,161000.0,STEM
2,Agriculture,42600.0,71900.0,36300.0,150000.0,Business
3,Anthropology,36800.0,61500.0,33800.0,138000.0,HASS
4,Architecture,41600.0,76800.0,50600.0,136000.0,Business

In [ ]:
# Understanding the shape of the dataframe
data.shape      # What is the shape of the table? (rows x columns)

(51, 6)

In [ ]:
data.columns    # What are the columns? Do they have labels?

Index(['Undergraduate Major', 'Starting Median Salary',
       'Mid-Career Median Salary', 'Mid-Career 10th Percentile Salary',
       'Mid-Career 90th Percentile Salary', 'Group'],
      dtype='object')

In [ ]:
data.isna()      # Are there Not a Number cells in my data? Running this cell shows a problem in the last row.

In [ ]:
# Checking the last row more closely
data.tail()

,Undergraduate Major,Starting Median Salary,Mid-Career Median Salary,Mid-Career 10th Percentile Salary,Mid-Career 90th Percentile Salary,Group
46,Psychology,35900.0,60400.0,31600.0,127000.0,HASS
47,Religion,34100.0,52000.0,29700.0,96400.0,HASS
48,Sociology,36500.0,58200.0,30700.0,118000.0,HASS
49,Spanish,34000.0,53100.0,31000.0,96400.0,HASS
50,Source: PayScale Inc.,NaN,NaN,NaN,NaN,NaN

In [6]:
# Creating a new dataframe without the NaN rows.
clean_df = data.dropna()
clean_df.tail()

,Undergraduate Major,Starting Median Salary,Mid-Career Median Salary,Mid-Career 10th Percentile Salary,Mid-Career 90th Percentile Salary,Group
45,Political Science,40800.0,78200.0,41200.0,168000.0,HASS
46,Psychology,35900.0,60400.0,31600.0,127000.0,HASS
47,Religion,34100.0,52000.0,29700.0,96400.0,HASS
48,Sociology,36500.0,58200.0,30700.0,118000.0,HASS
49,Spanish,34000.0,53100.0,31000.0,96400.0,HASS

In [ ]:
# Fetching only one column using square brackets.
clean_df["Starting Median Salary"]

0     46000.0
1     57700.0
2     42600.0
3     36800.0
4     41600.0
5     35800.0
6     38800.0
7     43000.0
8     63200.0
9     42600.0
10    53900.0
11    38100.0
12    61400.0
13    55900.0
14    53700.0
15    35000.0
16    35900.0
17    50100.0
18    34900.0
19    60900.0
20    38000.0
21    37900.0
22    47900.0
23    39100.0
24    41200.0
25    43500.0
26    35700.0
27    38800.0
28    39200.0
29    37800.0
30    57700.0
31    49100.0
32    36100.0
33    40900.0
34    35600.0
35    49200.0
36    40800.0
37    45400.0
38    57900.0
39    35900.0
40    54200.0
41    39900.0
42    39900.0
43    74300.0
44    50300.0
45    40800.0
46    35900.0
47    34100.0
48    36500.0
49    34000.0
Name: Starting Median Salary, dtype: float64

In [ ]:
# max() to find the highest value in the column.
clean_df["Starting Median Salary"].max()

74300.0

In [ ]:
# idmax() to find the id of the highest value in the column.
clean_df["Starting Median Salary"].idxmax()

43

In [ ]:
# Showing the info in that row 
# (one may use the column (i.e. ["Starting Median Salary"] to filter it 
# with greater specificity)
clean_df.loc[43]

Undergraduate Major                  Physician Assistant
Starting Median Salary                           74300.0
Mid-Career Median Salary                         91700.0
Mid-Career 10th Percentile Salary                66400.0
Mid-Career 90th Percentile Salary               124000.0
Group                                               STEM
Name: 43, dtype: object

In [ ]:
# ----- CHALLENGE -----
# What college major has the highest mid-career salary? How much do graduates 
# with this major earn?

# Which college major has the lowest starting salary and how much do graduates 
# earn after university?

# Which college major has the lowest mid-career salary and how much can people
# expect to earn with this degree?

In [ ]:
# ----- PART 1 -----
# What college major has the highest mid-career salary? How much do graduates 
# with this major earn?

# Finding out what's the row with the HIGHEST mid-career median salary
clean_df["Mid-Career Median Salary"].idxmax()

8

In [ ]:
# Printing all the information about the career
clean_df.loc[8]

Undergraduate Major                  Chemical Engineering
Starting Median Salary                            63200.0
Mid-Career Median Salary                         107000.0
Mid-Career 10th Percentile Salary                 71900.0
Mid-Career 90th Percentile Salary                194000.0
Group                                                STEM
Name: 8, dtype: object

In [ ]:
# Answering the questions in an orderly fashion:
high_major_name = clean_df["Undergraduate Major"].loc[8]
high_major_mid_salary = clean_df["Mid-Career Median Salary"].loc[8]
print(f"The college major with the highest mid career salary is {high_major_name}.")
print(f"The mid-career salary of this major is {high_major_mid_salary} USD per year.")

The college major with the highest mid career salary is Chemical Engineering.
The mid-career salary of this major is 107000.0 USD per year.

In [ ]:
# ----- PART 2 -----
# Which college major has the lowest starting salary and how much do graduates 
# earn after university?

# Finding out what's the row with the LOWEST starting median salary
clean_df["Starting Median Salary"].idxmin()

49

In [ ]:
# Printing all the information about the career
clean_df.loc[49]

Undergraduate Major                  Spanish
Starting Median Salary               34000.0
Mid-Career Median Salary             53100.0
Mid-Career 10th Percentile Salary    31000.0
Mid-Career 90th Percentile Salary    96400.0
Group                                   HASS
Name: 49, dtype: object

In [ ]:
# Answering the questions in an orderly fashion:
low_major_name = clean_df["Undergraduate Major"].loc[49]
low_major_mid_salary = clean_df["Mid-Career Median Salary"].loc[49]
print(f"The college major with the lowest starting career salary is {low_major_name}.")
print(f"The starting salary of this major is {low_major_mid_salary} USD per year.")

The college major with the lowest starting career salary is Spanish.
The starting salary of this major is 53100.0 USD per year.

In [ ]:
# ----- CHALLENGE -----
# Which college major has the lowest mid-career salary and how much can people
# expect to earn with this degree? 

# Finding out what's the row with the LOWEST mid-career median salary
clean_df["Mid-Career Median Salary"].idxmin()

18

In [ ]:
# Printing all the information about the career
clean_df.loc[18]

Undergraduate Major                  Education
Starting Median Salary                 34900.0
Mid-Career Median Salary               52000.0
Mid-Career 10th Percentile Salary      29300.0
Mid-Career 90th Percentile Salary     102000.0
Group                                     HASS
Name: 18, dtype: object

In [7]:
# Answering the questions in an orderly fashion:
low_major_name = clean_df["Undergraduate Major"].loc[18]
low_major_mid_salary = clean_df["Mid-Career Median Salary"].loc[18]
print(f"The college major with the lowest mid career salary is {low_major_name}.")
print(f"The mid-career salary of this major is {low_major_mid_salary} USD per year.")

The college major with the lowest mid career salary is Education.
The mid-career salary of this major is 52000.0 USD per year.

In [12]:
# Lowest Risk Majors
# A low-risk major is a degree where there is a small difference between the lowest and highest salaries.
# To do so, let's do arithmetic with two entire columns.
salary_spread = clean_df["Mid-Career 90th Percentile Salary"] - clean_df["Mid-Career 10th Percentile Salary"]
print(salary_spread)

0     109800.0
1      96700.0
2     113700.0
3     104200.0
4      85400.0
5      96200.0
6      98100.0
7     108200.0
8     122100.0
9     102700.0
10     84600.0
11    105500.0
12     95900.0
13     98000.0
14    114700.0
15     74800.0
16    116300.0
17    159400.0
18     72700.0
19     98700.0
20     99600.0
21    102100.0
22    147800.0
23     70000.0
24     92000.0
25    111000.0
26     76000.0
27     66400.0
28    112000.0
29     88500.0
30    115900.0
31     84500.0
32     71300.0
33    118800.0
34    106600.0
35    100700.0
36    132900.0
37    137800.0
38     99300.0
39    107300.0
40     50700.0
41     65300.0
42    132500.0
43     57600.0
44    122000.0
45    126800.0
46     95400.0
47     66700.0
48     87300.0
49     65400.0
dtype: float64

In [13]:
# Now, we add the Column to our Dataframe. (Index 1, so it'll be our second column from now on!)
clean_df.insert(1, 'Spread', salary_spread)

In [15]:
# Checking if it works (spoiler alert: it did!)
clean_df.head()

,Undergraduate Major,Spread,Starting Median Salary,Mid-Career Median Salary,Mid-Career 10th Percentile Salary,Mid-Career 90th Percentile Salary,Group
0,Accounting,109800.0,46000.0,77100.0,42200.0,152000.0,Business
1,Aerospace Engineering,96700.0,57700.0,101000.0,64300.0,161000.0,STEM
2,Agriculture,113700.0,42600.0,71900.0,36300.0,150000.0,Business
3,Anthropology,104200.0,36800.0,61500.0,33800.0,138000.0,HASS
4,Architecture,85400.0,41600.0,76800.0,50600.0,136000.0,Business

In [21]:
# ----- CHALLENGE ----- 
# Using the .sort_values() method, find the degrees with the highest potential.
# Find the top 5 degrees with the highest values in the 90th percentile. 
clean_df.sort_values(by="Mid-Career 90th Percentile Salary", ascending=False).head()

,Undergraduate Major,Spread,Starting Median Salary,Mid-Career Median Salary,Mid-Career 10th Percentile Salary,Mid-Career 90th Percentile Salary,Group
17,Economics,159400.0,50100.0,98600.0,50600.0,210000.0,Business
22,Finance,147800.0,47900.0,88300.0,47200.0,195000.0,Business
8,Chemical Engineering,122100.0,63200.0,107000.0,71900.0,194000.0,STEM
37,Math,137800.0,45400.0,92400.0,45200.0,183000.0,STEM
44,Physics,122000.0,50300.0,97300.0,56000.0,178000.0,STEM

In [23]:
# ----- CHALLENGE -----
# Also, find the degrees with the greatest spread in salaries.
# Which majors have the largest difference between high and low earners after graduation.
clean_df.sort_values(by="Spread", ascending=False).head()

,Undergraduate Major,Spread,Starting Median Salary,Mid-Career Median Salary,Mid-Career 10th Percentile Salary,Mid-Career 90th Percentile Salary,Group
17,Economics,159400.0,50100.0,98600.0,50600.0,210000.0,Business
22,Finance,147800.0,47900.0,88300.0,47200.0,195000.0,Business
37,Math,137800.0,45400.0,92400.0,45200.0,183000.0,STEM
36,Marketing,132900.0,40800.0,79600.0,42100.0,175000.0,Business
42,Philosophy,132500.0,39900.0,81200.0,35500.0,168000.0,HASS

In [25]:
# Grouping and Pivoting Data with Pandas
# Which category of degrees has the highest average salary?
# We have three categories in the 'Group' column: STEM, HASS and Business. Let's count how many majors we have in each category:
clean_df.groupby('Group').count()

,Undergraduate Major,Spread,Starting Median Salary,Mid-Career Median Salary,Mid-Career 10th Percentile Salary,Mid-Career 90th Percentile Salary
Group,,,,,,
Business,12,12,12,12,12,12
HASS,22,22,22,22,22,22
STEM,16,16,16,16,16,16

In [27]:
# ------ Mini Challenge -----
# Finding the average salary by group
pd.options.display.float_format = '{:,.2f}'.format
clean_df.groupby('Group').mean()

,Spread,Starting Median Salary,Mid-Career Median Salary,Mid-Career 10th Percentile Salary,Mid-Career 90th Percentile Salary
Group,,,,,
Business,"103,958.33","44,633.33","75,083.33","43,566.67","147,525.00"
HASS,"95,218.18","37,186.36","62,968.18","34,145.45","129,363.64"
STEM,"101,600.00","53,862.50","90,812.50","56,025.00","157,625.00"